{% extends "owner/base.html" %}
{% block title %} Home {% endblock%}
{% block content%}
    <h1 class="title">Bienvenue !</h1>
    <div class="homepage-text">Bienvenue dans votre espace personnel ! Ici vous pouvez :
        <ul>
            <li><a href="menu">Mettre à jour le menu du restaurant</a></li>
            <li><a href="stock">Gérer vos stocks de nourriture</a></li>
            <li><a href="recipes">Enregistrer vos recettes</a></li>
            <li><a href="sales">Enregistrer vos ventes</a></li>
        </ul>
    </div>
{% endblock%}