{% extends "owner/base.html" %}
{% block title %} Home {% endblock%}
{% block content%}
    <h1 class="title">Welcome!</h1>
    <div class="homepage-text">Welcome to your personal space! From here you can:
        <ul>
            <li><a href="menu">Update your menu</a></li>
            <li><a href="stock">Manage your food inventory</a></li>
            <li><a href="recipes">Register your recipes</a></li>
            <li><a href="sales">Register your sales</a></li>
        </ul>
    </div>
{% endblock%}