{% extends "owner/base.html" %}
{% block title %} Menu {% endblock%}
{% block content%}
    <h1 class="title">Menu</h1>
    <br>
    <div class="upload-menu">
        <div class="upload-menu--form">
            <h4>Téléchargez le menu au format PNG</h4>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file-upload" accept=".png">
                <input type="submit" value="Télécharger">
            </form>
        </div>
        <div class="upload-menu--overview">
            <div>Aperçu du menu visible sur le site</div>
            <div class="menu-img menu-img-owner">
                <img src="../../static/menu/menu.png">
            </div>
        </div>
    </div>
    <hr>
    <h6><i>Idée d'amélioration : permettre de sélectionner ses recettes et générer automatiquement un menu</i></h6>
    <h6>Sélectionnez les plats qui sont actuellement au menu :</h6>
    <br>
    <form method="POST">
        <div class="menu-section card card-body">
            <h5 class="card-title">Entrées</h5>
            <div id="startersList">
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        addNewRow('{{ recipes_list | tojson | safe }}', 'startersList', 'menuRecipeStarter');
                    });
                </script>
            </div>
            <div class="row">
                <button class="btn btn-light" type="button" id="addRowButtonStarters">
                    <i class="fas fa-plus add_icon"></i> Ajouter
                </button>
                <script>
                    var addButton = document.getElementById('addRowButtonStarters');
                    addButton.addEventListener('click', function () {
                        addNewRow('{{ recipes_list | tojson | safe }}', 'startersList', 'menuRecipeStarter');
                    });
                </script>
            </div> 
        </div>
        <div class="menu-section card card-body">
            <h5 class="card-title">Plats</h5>
            <div id="dishesList">
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        addNewRow('{{ recipes_list | tojson | safe }}', 'dishesList', 'menuRecipeDish');
                    });
                </script>
            </div>
            <div class="row">
                <button class="btn btn-light" type="button" id="addRowButtonDishes">
                    <i class="fas fa-plus add_icon"></i> Ajouter
                </button>
                <script>
                    var addButton = document.getElementById('addRowButtonDishes');
                    addButton.addEventListener('click', function () {
                        addNewRow('{{ recipes_list | tojson | safe }}', 'dishesList', 'menuRecipeDish');
                    });
                </script>
            </div> 
        </div>
        <div class="menu-section card card-body">
            <h5 class="card-title">Desserts</h5>
            <div id="dessertsList">
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        addNewRow('{{ recipes_list | tojson | safe }}', 'dessertsList', 'menuRecipeDessert');
                    });
                </script>
            </div>
            <div class="row">
                <button class="btn btn-light" type="button" id="addRowButtonDesserts">
                    <i class="fas fa-plus add_icon"></i> Ajouter
                </button>
                <script>
                    var addButton = document.getElementById('addRowButtonDesserts');
                    addButton.addEventListener('click', function () {
                        addNewRow('{{ recipes_list | tojson | safe }}', 'dessertsList', 'menuRecipeDessert');
                    });
                </script>
            </div> 
        </div>
        <div class="menu-section card card-body">
            <h5 class="card-title">Boissons</h5>
            <div id="drinksList">
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        addNewRow('{{ recipes_list | tojson | safe }}', 'drinksList', 'menuRecipeDrink');
                    });
                </script>
            </div>
            <div class="row">
                <button class="btn btn-light" type="button" id="addRowButtonDrinks">
                    <i class="fas fa-plus add_icon"></i> Ajouter
                </button>
                <script>
                    var addButton = document.getElementById('addRowButtonDrinks');
                    addButton.addEventListener('click', function () {
                        addNewRow('{{ recipes_list | tojson | safe }}', 'drinksList', 'menuRecipeDrink');
                    });
                </script>
            </div> 
        </div>
        <br>
        <div>
            <p class="btn btn-dark">Enregistrer le menu</p>
        </div>
    </form>
{% endblock %}