{% extends "owner/base.html" %}
{% block title %} Menu {% endblock%}
{% block content%}
    <h1 class="title">Menu</h1>
    <br>
    <div class="upload-menu">
        <div class="upload-menu--form">
            <h4>Téléchargez le menu au format PNG</h4>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file-upload" accept=".png">
                <input type="submit" value="Télécharger">
            </form>
        </div>
        <div class="upload-menu--overview">
            <div>Aperçu du menu visible sur le site</div>
            <div class="menu-img menu-img-owner">
                <img src="../../static/menu/menu.png">
            </div>
        </div>
    </div>
    <hr>
    <h5><i>Idée d'amélioration : permettre de sélectionner ses recettes et générer automatiquement un menu</i></h5>
    <h5>Sélectionnez les plats qui sont actuellement au menu.</h5>
    <br>
    <form method="POST">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Entrées</h5>
                <div id="starters">
                    <select type="text" id="ingredient_1" name="ingredient_1" class="form-control selectpicker selectpicker-ingredient_1" data-live-search="true" onchange="ingredientSelectUpdate(this, {{ingredients_list}})" title="Sélectionner un ingrédient" required>
                        {% for recipe in recipes_list %}
                        <option value={{recipe.id}}>{{recipe.name.capitalize()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn btn-light" type="button" onclick="addNewRecipeRow('sa', starters, 'ingredient_1')"><i class="fas fa-plus add_icon"></i> Ajouter une recette</button>
                    </div>
                </div>
            </div>  
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plats</h5>
            </div>  
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Desserts</h5>
            </div>  
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Boissons</h5>
            </div>  
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
{% endblock%}