{% extends "owner/base.html" %}
{% block title %} Recettes {% endblock %}
{% block content %}
    <h1 class="title">Vos recettes</h1>
    <div id="accordion" class="overflow-auto" style="max-height: 300px;">
        {% set nb_recipes = recipes | length %}
        {% if nb_recipes > 0 %}
        <ul id="recipesListing" class="list-group">
            {% for recipe in recipes %}
            <li id="recipe_{{ recipe.id }}" class="recipe-line">
                <div class="recipe-text">
                    <div>{{ recipe.name.capitalize() }}</div>
                    <div class="recipe-description">{{ recipe.description }}</div>
                    <div id="collapse_{{ recipe.id }}" class="collapse" aria-labelledby="recipe_ {{recipe.id }}" data-parent="#accordion">
                            <ul>
                                {% set recipe_ingredients_dict = {
                                    "id": recipe.id,
                                    "name": recipe.name,
                                    "description": recipe.description,
                                    "ingredients": []}
                                %}
                                {% for ingredient in ingredients_by_recipe %}
                                    {% if ingredient.recipe_id == recipe.id %}
                                        {% set _ = recipe_ingredients_dict.ingredients.append({"id": ingredient.id, "name": ingredient.name, "quantity": ingredient.quantity, "unit": ingredient.unit}) %}
                                <li class="list-group-item">{{ ingredient.name }} : {{'{0:g}'.format(ingredient.quantity)}} {{ ingredient.unit }}{% if ingredient.unit == "unité" and ingredient.quantity > 1 %}s{% endif %}</li>
                                    {% endif %}
                                {%endfor %}
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-green btn-sm" id="updateButton_{{ recipe. id }}" style="margin-bottom: 15px;">Modifier</button>
                                    <script>
                                        var updateButton = document.getElementById('updateButton_{{ recipe.id }}');
                                        updateButton.addEventListener('click', function () {
                                            openRecipeModal('{{ recipe_ingredients_dict | tojson | safe }}', '{{ ingredients_list | tojson | safe }}')
                                        });
                                    </script>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="recipe-buttons">
                    <button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#collapse_{{ recipe.id }}" aria-expanded="true" aria-controls="collapse_{{ recipe.id }}">
                        Détails
                    </button>
                    <button type="button" class="btn btn-dark btn-sm" onclick="deleteRecipe({{ recipe.id }})">
                        Supprimer
                    </button>
                </div>                
            </li>
            {% endfor %}
            {% else %}
            <div style="width: 90%; margin: 0 auto;">Vous n'avez pas encore enregistré de recette.</div>
            {% endif %}
        </ul>
    </div>
    <h1 align="center" style="margin-top: 70px; margin-bottom: 50px;">Ajouter une recette</h1>
    <div id="bodyRecipe" class="body-recipe">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createRecipeForm("");
                addNewRow('{{ ingredients_list | tojson | safe }}', 'ingredientsList', 'ingredient');
                var addButton = document.getElementById('addRowButton');
                addButton.addEventListener('click', function () {
                    addNewRow('{{ ingredients_list | tojson | safe }}', 'ingredientsList', 'ingredient');
                });
            });
        </script>
    </div>

    <!-- "Update recipe" modal -->
    <div class="modal fade" id="modalUpdateRecipe" tabindex="-1" role="dialog" aria-labelledby="modalUpdateRecipe" aria-hidden="true">
        <div class="modal-dialog modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="updateRecipe">Modifier la recette</h5>
                <button type="button" class="close close-modal-recipe" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br>
            <div id="bodyRecipeModal" class="modal-body-recipe">
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        createRecipeForm("Modal");
                        var addButtonModal = document.getElementById('addRowButtonModal');
                        addButtonModal.addEventListener('click', function () {
                            addNewRow('{{ ingredients_list | tojson | safe }}', 'ingredientsListModal', 'ingredientModal');
                        });
                    });
                </script>
            </div>
        </div>
      </div>

    <!-- "New ingredient" modal -->
    <div class="modal fade" id="modalRegisterIngredient" tabindex="-1" role="dialog" aria-labelledby="registerIngredient" aria-hidden="true"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            createModalNewIngredient(document.getElementById("modalRegisterIngredient"));
        });
    </script>

    <!-- Hidden buttons to generate the modal divs -->
    <button type="button" id="buttonForModalUpdateRecipe" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateRecipe" hidden></button>
    <button type="button" id="buttonForModalRegisterIngredient" class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterIngredient" hidden></button>
    <br>
    <br>
    
{% endblock %}