{% extends "owner/base.html" %}
{% block title %} Stock {% endblock%}
{% block content%}
    <h1 class="title">Votre inventaire</h1>
    {%- set stock_dict_list = [] -%}
    {%- for item in stock -%}
        {%- set item_dict = item._asdict() -%}
        {%- set _ = stock_dict_list.append(item_dict) -%}
    {%- endfor -%}

    <div class="add-stock-div">
        <h3>Ajouter du stock</h3>
        <form id="addStock" name="add-stock" method="POST">
            <div class="centered-form-element" style="width: 30%">
                <select type="text" id="ingredient_1" name="ingredient_1" class="form-control selectpicker selectpicker-ingredient" data-live-search="true" onchange="ingredientSelectUpdate(this, {{ ingredients_list }})" title="Sélectionner un ingrédient" required>
                    <option value="add"
                        data-content='<span class="btn btn-link btn-add-ingredient" data-toggle="modal" data-target="modalForIngredient">
                            <i class="fas fa-plus add_icon"></i> Ajouter un nouvel élément</span>'>
                    </option>
                    {% for ingredient in ingredients_list %}
                    <option value={{ingredient.id}}>{{ingredient.name.capitalize()}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="centered-form-element quantity" style="width: 25%">
                    <input type="number" id="quantity_1" name="quantity_1" min="0.1" step="0.1" class="form-control" placeholder="Quantité" required></input>
            </div>
            <div class="unit centered-form-element" style="width: 15%">
                <label type="text" id="unit" name="unit" class="no-margin">-</input>
            </div>
            <div class="centered-form-element add-stock-submit">
                <button type="submit" name="register-stock" class="btn btn-dark stock-btn--add">Ajouter au stock</button>
            </div>
        </form>
    </div>

    <h3 class="stock-list-title">Votre inventaire</h3>
    <h5 class="stock-list-title stock-list-subtitle">Alerte sur les stocks bas</h5>
    <div id="accordionAlert" class="overflow-auto" style="max-height: 300px;">   
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createStockAccordion(document.getElementById("accordionAlert"), '{{ stock_dict_list  | tojson | safe  }}', "<=0");
            });
        </script>
    </div>
    <br>
    <div id="accordionOk" class="overflow-auto" style="max-height: 300px;">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createStockAccordion(document.getElementById("accordionOk"), '{{ stock_dict_list  | tojson | safe  }}', ">0");
            });
        </script>
    </div>

    <!-- New ingredient modal -->
    <div class="modal fade" id="modalRegisterIngredient" tabindex="-1" role="dialog" aria-labelledby="registerIngredient" aria-hidden="true"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            createModalNewIngredient(document.getElementById("modalRegisterIngredient"));
        });
    </script>

    <!-- Hidden button to generate the modal divs -->
    <button type="button" id="buttonForModalRegisterIngredient" class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterIngredient" hidden></button>
    <br>
    <br>
    
{% endblock %}